* {
  padding: 0;
  margin: 0;
}

#maze {
  background-color: lightblue;
  border-collapse: collapse;
}

#maze td {
  width: 25px;
  height: 25px;
}

#maze td.cell_1 {
  border-left: 1px solid rgb(27, 27, 27);
}

#maze td.cell_2 {
  border-right: 1px solid rgb(27, 27, 27);
}

#maze td.cell_3 {
  border-left: 1px solid rgb(27, 27, 27);
  border-right: 1px solid rgb(27, 27, 27);
}

#maze td.cell_4 {
  border-top: 1px solid rgb(27, 27, 27);
}

#maze td.cell_5 {
  border-left: 1px solid rgb(27, 27, 27);
  border-top: 1px solid rgb(27, 27, 27);
}

#maze td.cell_6 {
  border-right: 1px solid rgb(27, 27, 27);
  border-top: 1px solid rgb(27, 27, 27);
}

#maze td.cell_7 {
  border-top: 1px solid rgb(27, 27, 27);
  border-left: 1px solid rgb(27, 27, 27);
  border-right: 1px solid rgb(27, 27, 27);
}

#maze td.cell_8 {
  border-bottom: 1px solid rgb(27, 27, 27);
}

#maze td.cell_9 {
  border-left: 1px solid rgb(27, 27, 27);
  border-bottom: 1px solid rgb(27, 27, 27);
}

#maze td.cell_10 {
  border-right: 1px solid rgb(27, 27, 27);
  border-bottom: 1px solid rgb(27, 27, 27);
}

#maze td.cell_11 {
  border-left: 1px solid rgb(27, 27, 27);
  border-right: 1px solid rgb(27, 27, 27);
  border-bottom: 1px solid rgb(27, 27, 27);
}

#maze td.cell_12 {
  border-top: 1px solid rgb(27, 27, 27);
  border-bottom: 1px solid rgb(27, 27, 27);
}

#maze td.cell_13 {
  border-left: 1px solid rgb(27, 27, 27);
  border-top: 1px solid rgb(27, 27, 27);
  border-bottom: 1px solid rgb(27, 27, 27);
}

#maze td.cell_14 {
  border-right: 1px solid rgb(27, 27, 27);
  border-top: 1px solid rgb(27, 27, 27);
  border-bottom: 1px solid rgb(27, 27, 27);
}

#maze td.cell_15 {
  border-left: 1px solid rgb(27, 27, 27);
  border-right: 1px solid rgb(27, 27, 27);
  border-top: 1px solid rgb(27, 27, 27);
  border-bottom: 1px solid rgb(27, 27, 27);
}
